# ======================================
# Config ===============================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session

# ======================================
# Parameters ===========================
parameters:

# ======================================
# Extension ============================
extensions:
	inertia: App\Inertia\InertiaExtension

# ======================================
# Inertia ==============================
inertia:
	# Asset version for cache busting (optional)
	# version: '1.0'

	# Root view template (default: @Templates/@inertia.latte)
	# rootView: '@Templates/@inertia.latte'

# ======================================
# Services =============================
services:
	latte.latteFactory:
		setup:
			- addExtension(Contributte\UI\Bundler\ViteExtension(%wwwDir%/dist/manifest.json, /dist))
